@import "tailwindcss";
html{background-color: var(--color-neutral-800);
    font-family: Alexandria ;
}  

/* تعريف الخطوط */
@font-face {
  font-family: 'Alexandria';
  src: url('/public/fonts/Alexandria-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Alexandria';
  src: url('/public/fonts/Alexandria-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Alexandria';
  src: url('/public/fonts/Alexandria-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Alexandria';
  src: url('/public/fonts/Alexandria-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Alexandria';
  src: url('/public/fonts/Alexandria-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Alexandria';
  src: url('/public/fonts/Alexandria-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Alexandria';
  src: url('/public/fonts/Alexandria-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Alexandria';
  src: url('/public/fonts/Alexandria-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Alexandria';
  src: url('/public/fonts/Alexandria-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


